.form {
  margin: 20px;
}

#main-row {
  display: flex;
  flex-direction: row;
}

.form input {
  align-self: center;
}

.center {
  display: flex;
  flex-direction: column;
}

#store-select, #submit-button {
  box-shadow: black 0px 7px 10px;
}

#scroller {
  text-align: left;
  padding-left: 40px;
  height: 400px;
  width: 300px;
  overflow-y: scroll;
  background-color: whitesmoke;
  margin: 20px;
  border: 1px solid black;
  box-shadow: black 0px 7px 10px;
}

#user-list {
  text-align: center;
  height: 400px;
  width: 300px;
  overflow-y: scroll;
  background-color: whitesmoke;
  margin: 20px;
  border: 1px solid black;
  box-shadow: black 0px 7px 10px;
}

.heading {
  background-color: rgb(22, 22, 22);
  font-size: 20px;
  font-weight: 700;
  color: white;
  width: max-content;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.user-item{
  margin-bottom: 7px;
  margin-top: 7px;
  line-height: 1;
}
