.form {
  margin: 20px;
}

.form input {
  align-self: center;
}

.center {
  display: flex;
  flex-direction: column;
}

#scroller {
  height: 200px;
  width: 500px;
  overflow-y: scroll;
  background-color: white;
  margin: 20px;
  border: 1px solid black;
}

#user-list {
  height: 200px;
  width: 500px;
  overflow-y: scroll;
  background-color: white;
  margin: 20px;
  border: 1px solid black;
}
