.form {
  margin: 20px;
}

.form input {
  align-self: center;
}

.center {
  display: flex;
  flex-direction: column;
 
}

#scroller {
  height: 200px;
  width: 300px;
  overflow-y: scroll;
  background-color: white;
}
