.top {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background: #DC2A27;
    border-bottom: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logSign {
    display: flex;
    align-items: baseline;
    list-style-type: none;
}

a, h3, h2 {
    color: white;
    font-weight: 900;
}

@media only screen and (max-width: 900px) {
    .top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
  }